        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #e6e3e3;
            color: #fff;
        }

        header {
            background-color: #4C0C0C;
            padding: 20px;
            position: relative;
        }

        .topo-container {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .logo {
            width: 150px;
        }

        .status-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 17px;
            font-weight: bold;
            color: #fff;
        }

        .status-box {
            display: inline-block;
            background-color: #900;
            color: #fff;
            padding: 6px 12px;
            border-radius: 8px;
            margin-bottom: 4px;
            width: fit-content;
        }

        .status-open {
            background-color: #2ECC71;
        }

        .status-closed {
            background-color: #bd0404;
        }

        .endereco-wrapper {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
            font-size: 12px;
        }

        .endereco-box {
            background-color: #FF8C0A;
            color: #fff;
            padding: 8px 12px;
            border-radius: 8px;
            line-height: 1.4;
        }

        .banner {
            background: url('./assets/banner-pizza.jpg') center/cover no-repeat;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .banner h2 {
            margin: 0;
            font-size: 26px;
            text-shadow: 1px 1px 3px #000;
        }

        .banner p {
            margin: 5px 0;
        }

        .btn {
            background-color: #ff7043;
            border: none;
            padding: 8px 16px;
            border-radius: 20px;
            color: #fff;
            cursor: pointer;
            margin-top: 5px;
        }

        .promo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 40px;
            margin: 30px 0;
            flex-wrap: wrap;
        }

        .promo-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .promo-circle {
            background-color: #fff;
            width: 160px;
            height: 160px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #b71c1c;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            transition: transform 0.2s, background-color 0.2s;
            padding: 5px;
        }

        .promo-circle:hover {
            transform: scale(1.1);
            background-color: #FF4D6D;
            color: #fff;
        }

        .promo-circle img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            /* margin-bottom: 10px; */
        }

        .promo-text {
            margin-top: 10px;
            font-size: 14px;
        }

        .section {
            background-color: #fff;
            color: #333;
            padding: 20px;
        }

        .section h3 {
            margin-top: 0;
        }

        .destaques {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 20px 0;
            flex-wrap: wrap;
        }

        .destaques img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 2px solid #c62828;
        }

        .categorias {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .categorias button {
            background-color: #eee;
            border: none;
            padding: 6px 12px;
            border-radius: 20px;
            cursor: pointer;
        }

        .categorias button.active {
            background-color: #c62828;
            color: #fff;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 15px;
        }

        .card {
            background-color: #fafafa;
            border-radius: 8px;
            text-align: center;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 100%;
            border-radius: 50%;
        }

        .card .preco {
            background-color: #e53935;
            color: #fff;
            font-size: 12px;
            padding: 2px 6px;
            border-radius: 12px;
            position: relative;
            top: -10px;
            left: 40px;
        }

        .card p {
            margin: 5px 0;
            font-size: 14px;
        }

        .cardapio {
            background-color: #fff;
            color: #333;
            padding: 20px;
            margin: 20px;
            border-radius: 8px;
        }

        footer {
            text-align: center;
            padding: 10px;
            font-size: 12px;
            background-color: #4C0C0C;
            color: #fff;
        }

        .login-button-wrapper {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
            margin-left: auto;
        }

        .login-button {
            background-color: #fff;
            color: #b71c1c;
            text-decoration: none;
            padding: 8px 18px;
            border-radius: 20px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            display: inline-block;
        }

        .login-button:hover {
            background-color: #b71c1c;
            color: #fff;
        }

        .menu-buttons {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 20px;
            width: 100%;
            padding: 15px 0;
            background-color: #4C0C0C;
            box-sizing: border-box;
            position: relative;
        }

        .menu-buttons>div {
            position: absolute;
            top: -40px;
            right: 0;
        }

        .menu-btn {
            background-color: #7c0909;
            color: #fff;
            border: 2px solid #fff;
            padding: 15px 40px;
            border-radius: 30px;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            min-width: 140px;
            text-align: center;
            text-decoration: none;
        }

        .menu-btn:hover {
            background-color: #fff;
            color: #7c0909;
        }

        .container-cards {
            margin: 20px auto;
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            font-family: Arial, sans-serif;
            max-width: 1200px;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 24px 30px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            font-size: 18px;
            color: #333;
            width: 300px;
            text-align: center;
        }

        .linha {
            margin-bottom: 18px;
        }

        .linha:last-child {
            margin-bottom: 0;
        }

        .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 20px;
        }

        .titulo i {
            margin-right: 8px;
            color: #444;
            font-size: 20px;
        }

        .descricao {
            color: #555;
            line-height: 1.6;
            font-size: 17px;
        }

        .mid-container {
            background-color: #B71C1C;
            padding: 20px;
            border-radius: 10px;
            color: white;
            margin: 20px auto;
            max-width: 1200px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 2000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .modal-content {
            background-color: #2A2A2A;
            margin: 10% auto;
            padding: 20px 30px;
            border-radius: 12px;
            width: 90%;
            max-width: 450px;
            color: #ffffff;
            position: relative;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 28px;
            font-weight: bold;
            color: #b71c1c;
            cursor: pointer;
            border: none;
            background: transparent;
        }

        .close-btn:hover {
            color: #ff4d6d;
        }

        .modal-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .modal-description {
            background-color: #2a2a2a;
            margin: 10% auto;
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            max-width: 400px;
            color: #fff;
            box-shadow: 0 0 15px #000;
            text-align: left;
        }

        .modal-action-btn {
            background-color: #fff;
            color: #000000;
            border: 2px solid #fff;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .modal-action-btn:hover {
            background-color: #4C0C0C;
            color: #ffffff;
        }

        .pizza-carousel-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto;
            max-width: 900px;
            position: relative;
            overflow: hidden;
        }


        .pizza-carousel {
            overflow: hidden;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
        }


        .carousel-track {
            display: flex;
            transition: transform 0.3s ease;
            padding: 0;
            margin: 0;
        }


        .carousel-item {
            flex: 0 0 calc((100% / 3) - 10px);
            max-width: calc((100% / 3) - 10px);
            margin: 0 5px;
            padding: 12px;
            box-sizing: border-box;
            background-color: #4C0C0C;
            border-radius: 12px;
            transition: transform 0.3s ease, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .carousel-item:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        .carousel-item img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin: 0 auto;
            display: block;
        }

        .carousel-item p {
            text-align: center;
            color: #333;
            font-weight: bold;
            margin-top: 8px;
        }

        .carousel-item p {
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-top: 8px;
        }

        .carousel-btn {
            background-color: #fff;
            margin: 0 2px;
            color: #b71c1c;
            border: none;
            font-size: 24px;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color 0.3s;
            z-index: 10;
        }


        .carousel-btn:hover {
            background-color: #4C0C0C;
            color: #fff;
        }

        .categorias button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 15px;
            background-color: #fff;
            color: #333;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            margin: 5px;
        }

        .categorias button:hover {
            background-color: #4C0C0C;
            color: #fff;
            transform: scale(1.05);
        }

        .modalLt {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .modal-content {
            background-color: #333;
            margin: 10% auto;
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            max-width: 500px;
            font-family: Arial, sans-serif;
            position: relative;
        }

        .modal-content h3 {
            text-align: center;
            margin-bottom: 15px;
        }

        .modal-content table {
            width: auto;
            margin: 0 auto;
            border-collapse: separate;
            border-spacing: 6px 4px;
        }

        .modal-content th,
        .modal-content td {
            padding: 8px 12px;
            text-align: left;
            background-color: none;

        }

        .modal-content th {
            background-color: none;
            border: 1px solid #ffffff;
        }

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .aviso-card {
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            max-width: 800px;
            margin: 40px auto;
        }

        .icone-aviso {
            width: 60px;
            height: 60px;
            background-color: #b71c1c;
            color: #fdd835;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            flex-shrink: 0;
        }

        .conteudo-aviso {
            text-align: center;

        }

        .conteudo-aviso h1 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #b71c1c;
        }

        .conteudo-aviso p {
            font-size: 16px;
            color: #333;
        }

        .button-voltar {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #fff;
            color: #4c0c0c;
            border: 2px solid #4c0c0c;
            border-radius: 25px;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .button-voltar:hover {
            background-color: #990202;
            color: #fff;
        }

        .body-macarrao {
            font-family: Arial, sans-serif;
            background-color: #4c0c0c;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .h1-macarrao {
            text-align: center;
            color: #fff;
            font-family: Gabriola;
            font-size: 40px;
        }

        .macarrao {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            max-width: 1000px;
            margin: 0 auto;
            width: 100%;
        }

        .macarrao-item {
            cursor: pointer;
            background-color: #1c1c1c;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
        }

        .macarrao img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .card-macarrao {
            background-color: #fff;
            border-radius: 12px;
            padding: 20px;
            max-width: 400px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px auto;
        }

        .icone-macarrao i {
            color: red;
            font-size: 40px;
        }

        .conteudo-aviso h1 {
            margin: 0 0 5px;
            font-size: 21px;
            color: #333;
        }

        .conteudo-aviso p {
            margin: 2px 0;
            color: #555;
            font-size: 17px;
        }

        #modal-macarrao {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #modal-macarrao .modal-content {
            background-color: #2A2A2A;
            margin: 10% auto;
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            max-width: 500px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: left;
        }

        #modal-macarrao .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        #modal-macarrao .close:hover,
        #modal-macarrao .close:focus {
            color: #fff;
            text-decoration: none;
        }

        #modal-macarrao ul {
            padding-left: 20px;
            list-style-type: disc;
            list-style-position: inside;
            margin-top: 20px;
        }

        .aviso-lista {
            color: #555555;
            padding-left: 0;
            list-style-position: inside;
            margin-left: 0;
        }

        .login-button {
            background-color: #fff;
            color: #b71c1c;
            text-decoration: none;
            padding: 8px 18px;
            border-radius: 20px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .login-button:hover {
            background-color: #b71c1c;
            color: #fff;
        }